<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>age</key>
		<integer>34</integer>
		<key>name</key>
		<string>Russel</string>
		<key>lastName</key>
		<string>Wilson</string>
	</dict>
	<dict>
		<key>age</key>
		<integer>29</integer>
		<key>name</key>
		<string>Richard</string>
		<key>lastName</key>
		<string>Sherman</string>
	</dict>
	<dict>
		<key>age</key>
		<integer>36</integer>
		<key>name</key>
		<string>Kam</string>
		<key>lastName</key>
		<string>Chancelor</string>
	</dict>
	<dict>
		<key>age</key>
		<integer>56</integer>
		<key>name</key>
		<string>Pete</string>
		<key>lastName</key>
		<string>Carroll</string>
	</dict>
</array>
</plist>
